<div
  class="table-responsive"
  style="max-width: 1100px; min-width: 1000px; overflow-x: auto"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Имя</td>
        <td>День рождения</td>
        <td>Студенческий номер</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of allStudents">
        <ng-template
          [ngTemplateOutlet]="loadStudentsTemplate(student)"
          [ngTemplateOutletContext]="{ $implicit: student }"
        >
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>{{ statusMessage }}</div>
</div>
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-student>
  <td>{{ student.id }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.birthdate | date : "dd.MM.yyyy" }}</td>
  <td>{{ student.number }}</td>
  <td></td>
</ng-template>

<!--шаблон для чтения 2-->
<ng-template #studentAddingTemplate let-student>
  <td>{{ student.id }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.birthdate | date : "dd.MM.yyyy" }}</td>
  <td>{{ student.number }}</td>
  <td>
    <input
      type="button"
      value="Добвавить в группу"
      class="btn btn-success"
      (click)="moveStudentToUs(student.id)"
      style="max-width: 120px"
    />
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <td>
    <input
      type="number"
      [(ngModel)]="editedGroup.id"
      readonly
      disabled
      class="form-control"
    />
  </td>
  <td>
    <input type="text" [(ngModel)]="editedGroup.name" class="form-control" />
  </td>
  <td>
    <input
      type="button"
      value="Сохранить"
      (click)="saveGroup()"
      class="btn btn-success"
    />
  </td>
  <td>
    <input
      type="button"
      value="Отмена"
      (click)="cancel()"
      class="btn btn-warning"
    />
  </td>
</ng-template>

<span>
  <input
    routerLink="/groups"
    type="button"
    value="Отмена"
    (click)="cancel()"
    class="btn btn-warning"
  />
  <input
    routerLink="/groups"
    type="button"
    value="Сохранить"
    (click)="saveGroup()"
    class="btn btn-success"
  />
</span>
